
@media only screen and (min-width: 1px) and (max-width: 680px) {
  #titulo{
    font-size: 1em;
  }
  #iconos{
    width: 15em;
    height: 2em;
    float: right;
  }
  .sectoft{
    grid-column: 1/7;
  }
  .aside{
    grid-column: 1/7
  }
  .ropa1{
    grid-column: 1/7;
  }
  .ropa2{
    grid-column: 1/7;
  }
  .ropa3{
    grid-column: 1/7;
  }
  .ropa4{
    grid-column: 1/7;
  }
  .ropa5{
    grid-column: 1/7;
  }
  .ropa6{
    grid-column: 1/7;
  }
}
@media only screen and (min-width: 681px) and (max-width: 1024px){
  #titulo{
    font-size: 1em;
  }
  #iconos{
    width: 15em;
    height: 2em;
    float: right;
  }
  .sectoft{
    grid-column: 1/7;
  }
  .aside{
    grid-column: 1/7
  }
  .ropa1{
    grid-column: 1/4;
  }
  .ropa2{
    grid-column: 4/7;
  }
  .ropa3{
    grid-column: 1/4;
  }
  .ropa4{
    grid-column: 4/7;
  }
  .ropa5{
    grid-column: 1/4;
  }
  .ropa6{
    grid-column: 4/7;
  }
}
